body {
  background-color: #f7f9fc;
  color: #333;
  font-family: "Roboto", Arial, sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

