body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
.button {
  background-color: #4caf50;
  color: white;
  font-size: 18px;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 13px
  
}

.button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.button:active {
  background-color: #3e8e41;
  transform: scale(1);
}
.button:disabled{
    background-color: rgba(128, 128, 128, 0.484);
}

